
.center-screen {
    display: flex;
    justify-content: flex-start;
   /* align-items: center;*/
    height: 100vh;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    flex-grow: 1;
    box-sizing: border-box;
    overflow-y: auto;
}

.title{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: black;
    display: inline-block;
}

.center-screen-box {
    display: inline-block;
    justify-content: center;
   /* align-items: center;*/
    text-align: center;
}

.StudentButton {
    background-color: black;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    margin-top: 25px;
    font-size: 50px;
    font-weight: 700;
    color: white;
    border: none;
    width: 20vw;
}

.TeacherButton {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    margin-top: 25px;
    font-size: 50px;
    font-weight: 700;
    color: black;
    border: none;
    width: 20vw;
}

html {
    background-color: rgb(250, 250, 250);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
body {
    display: flex;
    margin: 0;
    height: 100vh;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    text-align: center;
    font-size: 25px;
}

.sidebar.list {
    height: 100vh;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none; /* This removes the bullet points */
    padding: 0; /* This removes the default padding */
    margin: 0; /* This removes the default margin */
    text-align: center; /* This centers the list items */
}

.sidebar ul li {
    padding: 0; /* This removes any default padding on list items */
}

.question-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 25px;
}

.question-type {
    text-align: left;
    margin-left: 25px;
    font-weight: 700;
}

.question-text {
    justify-self: center;
}